<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/chats"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ chat?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor="let item of messages">
      <ion-item>
        <ion-label>
          <h3>{{ item.content }}</h3>
          <p>{{ item.updated_at }}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea  [(ngModel)]="newMessage"></ion-textarea>
    <ion-button slot="end"  (click)="sendMessage()">
      Send
    </ion-button>
  </ion-toolbar>
</ion-footer>
